html{
    font-family: sans-serif;
}
body{
    background-color: deepskyblue;
    margin: 0px 10%;
}
.clear{
    clear: both;
    display: none;
}

.nav-bar{
    display: block;
    background: rgba(0,0,0,.3);
    text-align: right;
}

.transition-all-fast,
.nav-item{
    transition: all .2s;
}

.nav-item{
    display: inline-block;
    margin: 3px 10px;
    padding: 4px 7px;
    color: #fff;
    cursor: pointer;
    
}
.nav-item:hover{
    color: #000;
}
.post-container{
    margin: 35px 0px;
    padding: 20px 30px;
}

.nav-item:hover
{background-color: rgba(255,255,255,.7);}
.background-light,
.post-container-header,
.post-container-title,
.post-item > div
{background-color: rgba(255,255,255,.2);}

.nav-item,
.post-container-footer,
.post-item
{background-color: rgba(0,0,0,.2);}

.post-container{
    background-color: rgba(0,0,0,.1);
}
.post-container > div,
.post-list > div{
    margin: 5px 0;
    padding: 10px 20px;
}
.post-container-header{
    font-size: 1.5em;
}
.post-container-title{
    font-size: 2em;
    font-weight: bold;
}
.post-item > div{
    margin: 5px; 0;
    padding: 5px;
}
.post-container-footer{}
.post-list{}
.post-item{}
.post-title{}
.post-content{}
.post-footer{}
.post-author{}
.post-date{}