<div class="post-container">
    <div class="post-container-header" ng-show="header.length">{{header}}</div>
    <div class="post-container-title" ng-show="title.length">{{title}}</div>
    <div class="post-list">
        <post content="post" ng-repeat="post in posts"></post>
    </div>
    <div class="post-container-footer" ng-show="footer.length">{{footer}}</div>
</div>