<div class="post-item">
    <div class="post-title">{{post.title}}</div>
    <div class="post-content">{{post.content}}</div>
    <div class="post-footer">
        <div class="post-author">{{post.author}}</div>
        <div class="post-date">{{post.date}}</div>
    </div>
</div>